<%- include("../includes/header.ejs") %>   

<section class="text-tertiary max-w-7xl mx-auto px-2 flex items-center justify-center xl:justify-between min-h-[calc(100vh-75px)] gap-8 flex-wrap py-12">
    <article>
        <h1 class="text-6xl mb-4">Manage <span class="text-primary">Tasks</span> with no hustle </h1>
        <p class="text-xl mb-12">A one stop solution to manage your teams and tasks efficiently.</p>
        <a href="/signup" class="py-4 px-12 bg-primary rounded-full text-xl">Get Started</a>
    </article>
    <img src="/images/Jumbotron.png" alt="Jumbotron">
</section>

<%- include("../includes/footer.ejs") %>